target
/.idea
DO_NOT_COMMIT
FrontEnd/
build.toml
databaseExploration/.idea/.name
databaseExploration/.idea/codeStyles/
databaseExploration/.idea/libraries/
databaseExploration/.idea/misc.xml
databaseExploration/.idea/modules.xml
databaseExploration/.idea/modules/
databaseExploration/.idea/sbt.xml
databaseExploration/.idea/scala_compiler.xml
databaseExploration/.idea/vcs.xml
js/.idea/
js/project/
jvm/src/main/resources/audio/495338__kylekirkpatrick__coach-whistle-06-rise-stop.wav
jvm/src/main/resources/audio/completeQuadSet/376807__chennes__ding.wav
jvm/src/main/resources/audio/completeQuadSet/411747__natty23__a-ding.wav
jvm/src/main/resources/audio/startQuadSet/25885__acclivity__beeprising.wav
jvm/src/main/resources/audio/startQuadSet/87041__runnerpack__target.wav
seed
