input[type='checkbox'] {
    -webkit-appearance:none;
    width:6em;
    height: 6em;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
input[type='checkbox']:checked {
    background: #abd;
}

.menu-item-with-count {
    display: grid;
    grid-template-columns:  1fr minmax(15%, 15%);
}

body {
    color: black;
}

/*
    Holy grail stuff from: https://1linelayouts.glitch.me/
 */

.holy-grail {
    display: grid;
    /*height: 100vh;*/
    grid-template: auto 1fr auto / auto 1fr auto
}

/*// etc*/

   .holy-header {
       background: lightpink;
       /*padding: 2rem;*/
       grid-column: 1 / 4;
   }

.left-sidebar {
    background: lightblue;
    grid-column: 1 / 2;
}

.holy-main {
    /*background: coral;*/
    grid-column: 2 / 3;
}

.right-sidebar {
    background: yellow;
    grid-column: 3 / 4;
}

.holy-footer {
    background: wheat;
    /*Consider re-enabline for more general purposes*/
    /*padding: 2rem;*/
    text-align: center;
    grid-column: 1 / 4;
}

/*body {*/
/*    font-family: system-ui, sans-serif;*/
/*}*/

.left-sidebar,
.right-sidebar {
/* padding: 1rem; */
}