#daily_total_section {
    text-align: center;
    font-size: 2em
}
.session-counter {
    text-align: center;
    font-size: 5em
}
.exercise-title {
    text-align: center;
    font-size: 2em
}
.navbar-link {
    font-size: 3em;
}
button.button {
    font-size: 3em;
    margin: 15px;
}
button.button.small {
    font-size: 1.5em;
    margin: 15px;
}
button.button.medium {
    font-size: 2em;
    margin: 15px;
}
a.button.medium {
    font-size: 2em;
    margin: 15px;
}
.medium {
    font-size: .2em;
}

a.button {
    margin: 15px;
    font-size: 2em;
    -webkit-appearance: button;
    -moz-appearance: button;

    text-decoration: none;
    color: initial;
}
.centered {
    text-align: center;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:6em;
    height: 6em;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
input[type='checkbox']:checked {
    background: #abd;
}

body {
    color: black;
}
